# Entornos de Desarrollo (IDE)
.idea/
*.iml
*.iws
.vscode/

# Archivos compilados de Java y Maven
target/
*.jar
*.war
*.class

# Archivos de sistema operativo (Mac/Windows)
.DS_Store
Thumbs.db

# Logs
*.log